/*Colores*/
:root {
    --color-principal:#0750d0;
    --color-secundario:#a1052c;
    --color-fondoClaro:#f9f9f9;
    --color-fondoOscuro:#000000;
    --color-AcentoAdicional:#9a50fc;
    --color-textoPrincipal:#ffffff;
    --color-textoSecundario:#d3d3d3;
}

body{
    background-color: var(--color-fondoOscuro);
}
/*tamaño de letra*/
h1{
    font-size: 60px;
    font-weight: 600;
    color: var(--color-textoPrincipal);
}

h2{
    font-size: 48px;
    font-weight: 600;
    color: var(--color-textoPrincipal);
}

h3{
    font-size: 40px;
    font-weight: 600;
    color: var(--color-textoPrincipal);
}

h4{
    font-size: 36px;
    font-weight: 600;
    color: var(--color-textoPrincipal);
}

h5{
    font-size: 30px;
    font-weight: 600;
    color: var(--color-textoPrincipal);
}

.textoGeneral{
    font-size: 16px;
    font-weight: 400;
    color: var(--color-textoPrincipal);
}

/*clases cards*/
.margencardbody{
    text-align: center;
    margin-left: 70px;
    margin-right:70px ;
}

.iconoscard{
    font-size: 100px;
    color: var(--color-textoPrincipal);
}

.cardcolor{
background-color: #101010;
}

.cardcolor:hover{
    background: linear-gradient(
        135deg,
        #392A7E 0%, 
        #32256B 100% 
    );
}

/*generales*/
.separador{
    width: 100%;
    height: 80px;
}

.botongeneral{
    background: linear-gradient(135deg, #a1052c,#0750d0);
    color: var(--color-textoPrincipal);
}

.textoenlaces{
    color: white;
    font-weight: 400;
    text-decoration: none;
}

.textoenlaces:hover{
    color: var(--color-principal);
}


/* UNICON & Game Expo */

.expocontenedor{
    background-image: url(../resources/img/img1.webp);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}