/*colores*/
:root {
    --color-principal:#0750d0;
    --color-secundario:#a1052c;
    --color-fondoClaro:#f9f9f9;
    --color-fondoOscuro:#000000;
    --color-AcentoAdicional:#9a50fc;
    --color-textoPrincipal:#ffffff;
    --color-textoSecundario:#d3d3d3;
}

/*Enlaces de las entradas*/
.enlaceblog{
    color: var(--color-textoPrincipal);
    font-size: 1.1rem ;
    font-weight: 700 ;
    text-decoration: none;
    transition: all 0.4s ease;
    width: 7rem;
}

.enlaceblog:hover{
    font-size: 1.2rem;
    border-left: solid 3px blue;

}