/*colores de la pagina*/
:root {
    --color-principal:#0750d0;
    --color-secundario:#a1052c;
    --color-fondoClaro:#f9f9f9;
    --color-fondoOscuro:#000000;
    --color-AcentoAdicional:#9a50fc;
    --color-textoPrincipal:#ffffff;
    --color-textoSecundario:#d3d3d3;
}

/* modificacion de los botones y su contenedor*/
.carousel-indicators {
    justify-content: flex-start !important; 
    left: 20px;  
    bottom: 20px;
}

.carousel-indicators [data-bs-target] {
    text-indent: 0 !important;
    width: 70px;
    margin: 0px;
    height: 30px;      
    background-color: transparent;  
    opacity: 1;
    color: var(--color-textoPrincipal);
    font-size: 15px;
    margin-right: 0.7rem;
    margin-left: 10px;
}
    /* clase para la barra entre botones*/
.barra{
    font-size: 1.5rem;
    color: white;
    transition: all 1s ease;
}

    /*texto de los botones*/
.titbtnhero{
    background-color: var(--color-principal);
    min-width: 50px;
    max-width: 50px;
    margin-right: 15px;
    text-align: center;
}
    /*efecto de movimiento de la barra*/
.carousel-indicators button.active .barra{
    transform: rotate(70deg);
}