/*colores*/
:root {
    --color-principal:#0750d0;
    --color-secundario:#a1052c;
    --color-fondoClaro:#f9f9f9;
    --color-fondoOscuro:#000000;
    --color-AcentoAdicional:#9a50fc;
    --color-textoPrincipal:#ffffff;
    --color-textoSecundario:#d3d3d3;
}

.botontienda{
    width: 100%;
    background-color: var(--color-fondoOscuro);
    border: solid 1px gray;
    color: gray;
    padding-top: 13px ;
    padding-bottom: 13px;
}

.botoncategorias{
    width: 100%;
    border: none;
    border-bottom: solid 1px gray;
    background-color: var(--color-fondoOscuro);
    color: var(--color-textoPrincipal);
    text-align: start;
    font-weight: 600;
    padding-top: 13px ;
    padding-bottom: 13px;
}

.seccionlateralderecha{
    padding-left: 5rem;
}

.textoenlaceshop{
    color: var(--color-textoPrincipal);
    font-size: 1.1rem;
    font-weight: 700;
}

.imagentienda{
    width: 190px;
    height: 190px;
    background-position: center;
    background-size: cover;
}

.botontagtienda{
    background-color: rgb(54, 53, 53);
    color: var(--color-textoPrincipal);
    padding-top: 10px ;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    margin: 10px;
}

@media (min-width: 1000px) {
    .imagentienda {
        width: 350px;
        height: 350px;
    }
}

@media (min-width: 1440px) {
    .imagentienda {
        width: 500px;
        height: 500px;
    }
}
