/*Colores de la pagina*/
:root {
    --color-principal:#0750d0;
    --color-secundario:#a1052c;
    --color-fondoClaro:#f9f9f9;
    --color-fondoOscuro:#000000;
    --color-AcentoAdicional:#9a50fc;
    --color-textoPrincipal:#ffffff;
    --color-textoSecundario:#d3d3d3;
}

body{
    background-color: var(--color-fondoOscuro);
}
/*tamaño de letra*/
h1{
    font-size: 60px;
    font-weight: 600;
    color: var(--color-textoPrincipal);
}

h2{
    font-size: 48px;
    font-weight: 600;
    color: var(--color-textoPrincipal);
}

h3{
    font-size: 40px;
    font-weight: 600;
    color: var(--color-textoPrincipal);
}

h4{
    font-size: 36px;
    font-weight: 600;
    color: var(--color-textoPrincipal);
}

h5{
    font-size: 30px;
    font-weight: 600;
    color: var(--color-textoPrincipal);
}

.textoGeneral{
    font-size: 16px;
    font-weight: 400;
    color: var(--color-textoPrincipal);
}

/*clases cards*/
.margencardbody{
    text-align: center;
    margin-left: 70px;
    margin-right:70px ;
}

.iconoscard{
    font-size: 100px;
    color: var(--color-textoPrincipal);
}

.cardcolor{
background-color: #101010;
transition: all 0.3s ease;
}

.cardcolor:hover{
    background-color: #32256B;
}

/*generales*/
.separador{
    width: 100%;
    height: 80px;
}

.botongeneral{
    background: linear-gradient(135deg, #a1052c,#0750d0);
    color: var(--color-textoPrincipal);
    transition: all 0.3s ease;
}

.botongeneral:hover{
    transform: scale(1.1);
    color: var(--color-textoPrincipal);
}

.textoenlaces{
    color: white;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease;
}

.textoenlaces:hover{
    color: var(--color-principal);
    border-bottom: solid 3px #0750d0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transform: rotate(4deg);
}

/*Hero*/

.heroimagen{
    width: 100vw; 
    height: 100vh; 
    background-size: cover;
    background-position: center;
}

/*ultimos partidos*/
.seccionmatch{
    background-color: #120718;
    border-bottom: solid 2px #1f0c2a;
    transition: all 0.4s ease;
}

.seccionmatch:hover{
    background: linear-gradient(to right, #3C2369, #074FCD);
}

.cardmatch{
    background-color: #0A0614 ;
    width: 8rem;
    height: 100%;
}

.titulomatch{
    font-size:20px ;
    color: var(--color-textoPrincipal);
}

.numeromatch{
    font-size: 20px;
    color: var(--color-AcentoAdicional);
}

.textotitulomatch{
    font-size: 1.5rem;
    color: var(--color-textoPrincipal);
    font-weight: 700;
}
.textomatch{
    font-size: 1.2;
    color: var(--color-textoPrincipal);
    font-weight: 600;
}

.enlacematch{
    color: var(--color-textoPrincipal);
    text-decoration: none;
}

.enlacematch:hover{
    background-color: orangered;
}


/* UNICON & Game Expo */

.expocontenedor{
    background-image: url(../resources/img/UniconFondo.webp);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

/*footer*/

.inputfooter{
    background-color: transparent;
    border: none;
    border-bottom: solid 1px black;
    color: var(--color-textoPrincipal);
}
.botonfooter{
  background-color: transparent;
    border: none;
    color: var(--color-textoPrincipal);
}

/*contador*/
.iconocontador{
    text-align: center;
    font-size: 50px;
}

/*boton scroll*/
.botonscroll{
    height: 70px ;
    width: 70px ;
    background-color: #1f0c2a;
    color: var(--color-textoPrincipal);
    text-align: center;
    font-size: 2rem;
    border-radius: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 40px;
    right: 25px;
    transition: all 0.4s ease;
}

.botonscroll:hover{
    transform: scale(1.1);
}

.bannercookies{
    background-color: #000000dd;
    backdrop-filter: blur(7px);
}